.ui.inverted.center.aligned.segment{
  width: 30%;
  top: 70px;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgb(230, 230, 230);
  padding: 2px;
}

.ui.three.item.basic.borderless.menu{
  background: rgb(230, 230, 230);
}

.ui.three.item.basic.borderless.menu > .item{
  color: rgb(170,170,170);
}

.ui.three.item.basic.inverted.borderless.menu >.get.item{
  background: rgb(255, 255, 255);
  color: blank;
}

.ui.vertical.segment.pics.basic{
  margin-top: 65px;
}

.header.th-s{
  font-family: 'Raleway', sans-serif!important;
  font-size: 18px!important;
}

.column span{
  color: grey;
}
